@model PagedList.IPagedList<BlogSystem.MVCSite.Areas.Backend.Data.Blogs.BlogsListViewModel>
@using PagedList.Mvc;
 

@{ 
    ViewBag.Title = "My Blog";
    string search = ViewBag.Search;
    Layout = "~/Views/Share/FrontLayout.cshtml";
    }
 
 
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">主页</a>
        </div>
        @Html.Partial("_Top")
    </div>
</nav>
<div class="row">
    <div class="col-md-9" style="padding:15px 20px 15px 30px">
        @{ 
            foreach(var item in Model)
            {
                 <div class="media">
            <div class="media-left">

            </div>
           
            <div class="media-body">
                <a href="/FrontHome/BlogDetail?id=@item.Id">
                    <h2 class="media-heading" style="color: #377f7f; font-size: 28px;">@item.Title</h2>
                    <p style="padding-top:5px; color: #808080; font-size: 16px;">@item.Content</p>
                    <div class="page-header" style="margin-top: 0px;">
                        <h4 style="font-size: 18px;"><small>@item.UserName</small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small>@item.UpdateTime</small></h4>
                    </div>
                      </a>
            </div>
          
        </div>
            }
        }
       
    <div class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

    </div>
     @Html.Partial("_Right")
</div>
