
@{ ViewBag.Title = "主页";
    Layout = "~/Areas/Backend/Views/Shared/BackendLayout.cshtml";
    var data = ViewBag.Data as BlogSystem.MVCSite.Areas.Backend.Controllers.IndexDto; }


<div class="container-fluid">
    <!-- OVERVIEW -->
    <div class="panel panel-headline">
        <div class="panel-heading">
            <h3 class="panel-title">每周概览</h3>
            <p class="panel-subtitle">Period: @(DateTime.Now.AddDays(-6).ToString("yyyy-MM-dd")) - @(DateTime.Now.ToString("yyyy-MM-dd"))</p>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-users"></i></span>
                        <p>
                            <span class="number">@data.y1</span>
                            <span class="title">浏览量</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-comment"></i></span>
                        <p>
                            <span class="number">@data.y2</span>
                            <span class="title">评论数</span>
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="metric">
                        <span class="icon"><i class="fa fa-envelope"></i></span>
                        <p>
                            <span class="number">@data.y3</span>
                            <span class="title">留言数</span>
                        </p>
                    </div>
                </div>
                @*<div class="col-md-3">
                        <div class="metric">
                            <span class="icon"><i class="fa fa-line-chart"></i></span>
                            <p>
                                <span class="number">35%</span>
                                <span class="title">增长量</span>
                            </p>
                        </div>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-md-10">
                    <div id="headline-chart" style="height:480px;width:100%"></div>
                   
                </div>
                <div class="col-md-2">
                    <div class="weekly-summary text-right">
                        <span class="number">@data.ytotal1</span> @*<span class="percentage"><i class="fa fa-caret-up text-success"></i> 12%</span>*@
                        <span class="info-label">总浏览数</span>
                    </div>
                    <div class="weekly-summary text-right">
                        <span class="number">@data.ytotal2</span> @*<span class="percentage"><i class="fa fa-caret-up text-success"></i> 23%</span>*@
                        <span class="info-label">总评论数</span>
                    </div>
                    <div class="weekly-summary text-right">
                        <span class="number">@data.ytotal3</span> @*<span class="percentage"><i class="fa fa-caret-down text-danger"></i> 8%</span>*@
                        <span class="info-label">总留言数</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END OVERVIEW -->
    <div class="row">


    </div>
    <!--<div class="row">
            <div class="col-md-6">-->
    <!-- TASKS -->
    <!--<div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">My Tasks</h3>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
            </div>
        </div>
        <div class="panel-body">
            <ul class="list-unstyled task-list">
                <li>
                    <p>Updating Users Settings <span class="label-percent">23%</span></p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="23" aria-valuemin="0" aria-valuemax="100" style="width:23%">
                            <span class="sr-only">23% Complete</span>
                        </div>
                    </div>
                </li>
                <li>
                    <p>Load &amp; Stress Test <span class="label-percent">80%</span></p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="sr-only">80% Complete</span>
                        </div>
                    </div>
                </li>
                <li>
                    <p>Data Duplication Check <span class="label-percent">100%</span></p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                            <span class="sr-only">Success</span>
                        </div>
                    </div>
                </li>
                <li>
                    <p>Server Check <span class="label-percent">45%</span></p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                            <span class="sr-only">45% Complete</span>
                        </div>
                    </div>
                </li>
                <li>
                    <p>Mobile App Development <span class="label-percent">10%</span></p>
                    <div class="progress progress-xs">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">
                            <span class="sr-only">10% Complete</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>-->
    <!-- END TASKS -->
    <!--</div>
    <div class="col-md-6">-->
    <!-- VISIT CHART -->
    <!--<div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Website Visits</h3>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
            </div>
        </div>
        <div class="panel-body">
            <div id="visits-chart" class="ct-chart"></div>
        </div>
    </div>-->
    <!-- END VISIT CHART -->
    <!--</div>
    </div>-->
</div>

<div class="clearfix"></div>

<!-- Javascript -->
<script src="~/Areas/Backend/assets/vendor/jquery/jquery.min.js"></script>
@*<script src="~/Areas/Backend/assets/vendor/bootstrap/js/bootstrap.min.js"></script>*@
@*<script src="~/Areas/Backend/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>*@
@*<script src="~/Areas/Backend/assets/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>*@
@*<script src="~/Areas/Backend/assets/vendor/chartist/js/chartist.min.js"></script>
    <link href="~/Areas/Backend/assets/vendor/chartist/css/chartist.min.css" rel="stylesheet" />*@
@*<script src="~/Areas/Backend/assets/scripts/klorofil-common.js"></script>*@
<script src="~/Areas/Backend/assets/vendor/echarts.min.js"></script>
<script>
    $(function () {
        var chartDom = document.getElementById('headline-chart');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: '周统计'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: ['浏览量', '评论数', '留言数']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: ['@(Html.Raw(string.Join("','", data.xdatas)))']
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name: '浏览量',
                    type: 'line', smooth: true,
                    stack: 'Total',
                    data: [@(string.Join(",",data.ydatas1))]
                },
                {
                    name: '评论数',
                    type: 'line', smooth: true,
                    stack: 'Total',
                    data: [@(string.Join(",",data.ydatas2))]
                },
                {
                    name: '留言数',
                    type: 'line', smooth: true,
                    stack: 'Total',
                    data: [@(string.Join(",",data.ydatas1))]
                } 
            ]
        };

        option && myChart.setOption(option);

                @*var data, options;

                // headline charts
                data = {
                    labels: ['@(Html.Raw(string.Join("','", data.xdatas)))'],
                    series: [

                        { name: 'series-1', data: [@(string.Join(",",data.ydatas1))]},
                        { name: 'series-2', data:  [@(string.Join(",",data.ydatas2))] },
                        { name: 'series-3', data:  [@(string.Join(",",data.ydatas3))] }

                    ]
                };

            options = {
                    height: 300,
                showArea: true,
                showLine: true,
                showPoint: true,
                fullWidth: false,
                    axisX: {
                        showGrid: false
                    },
                    lineSmooth: true,
                };

    new Chartist.Line('#headline-chart', data, options);*@




                //// visits chart
                //data = {
                //    labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                //    series: [
                //        [6384, 6342, 5437, 2764, 3958, 5068, 7654]
                //    ]
                //};

                //options = {
                //    height: 335,
                //    axisX: {
                //        showGrid: false
                //    },
                //};

                //new Chartist.Bar('#visits-chart', data, options);



            });
</script>
